= content_for(:stylesheets) do
  %link(rel="stylesheet" type="text/css" href="#{root_url}/stylesheets/qunit.css")
  %link(rel="stylesheet" type="text/css" href="#{root_url}/stylesheets/qunit_for_rails.css")

= content_for(:javascripts) do
  %script{:type => "text/javascript", :src  => "#{root_url}/javascripts/qunit_for_rails/jquery-1.6.4.min.js"}
  %script{:type => "text/javascript", :src  => "#{root_url}/javascripts/qunit_for_rails/qunit.js"}
  %script{:type => "text/javascript", :src  => "#{root_url}/javascripts/qunit_for_rails/qunit.page_load.js"}
  %script{:type => "text/javascript", :src  => "#{root_url}/javascripts/qunit_for_rails/qunit.test_loader.js"}
  %script{:type => "text/javascript", :src  => "#{root_url}/javascripts/qunit_for_rails/qunit_for_rails.js"}

  :javascript
    var QFR = {};
    var test_list = #{test_files.to_json};
    
    QFR.root_url = "#{root_url}";
